{{/* <p class="md__image" style="width: 600px;max-width: 100%;">
  <img src="/{{ path.Dir page.File }}/{{ .Destination | safeURL }}" alt="{{ .Text }}" {{ with .Title }} title="{{ . }}"
    {{ end }} />
</p> */}}

{{- $image := .Page.Resources.GetMatch (printf "%s" (.Destination | safeURL)) -}}
{{- $Permalink := .Destination | relURL | safeURL -}}
{{/*  {{ path.Dir page.File }}  */}}
{{/*  {{ $Permalink}}  */}}
{{ $Permalink := printf "/%s%s" (path.Dir page.File) $Permalink }}
{{- $alt := .PlainText | safeHTML -}}
{{- $Width := 0 -}}
{{- $Height := 0 -}}
{{- $Srcset := "" -}}

{{/* SVG and external images won't work with gallery layout, because their width and height attributes are unknown */}}
{{- $galleryImage := false -}}

{{- if $image -}}
{{- $notSVG := ne (path.Ext .Destination) ".svg" -}}
{{- $Permalink = $image.RelPermalink -}}

{{- if $notSVG -}}
{{- $Width = $image.Width -}}
{{- $Height = $image.Height -}}
{{- $galleryImage = true -}}

{{- if (default true .Page.Site.Params.imageProcessing.content.enabled) -}}
{{- $small := $image.Resize `480x` -}}
{{- $big := $image.Resize `1024x` -}}
{{- $Srcset = printf `%s 480w, %s 1024w` $small.RelPermalink $big.RelPermalink -}}
{{- end -}}
{{- end -}}
{{- end -}}

<img src="{{ $Permalink }}" {{ with $Width }}width="{{ . }}" {{ end }} {{ with $Height }}height="{{ . }}" {{ end }} {{
  with $Srcset }}srcset="{{ . }}" {{ end }} loading="lazy" {{ with $alt }} alt="{{ . }}" {{ end }} {{ if $galleryImage
  }} class="gallery-image" data-flex-grow="{{ div (mul $image.Width 100) $image.Height }}"
  data-flex-basis="{{ div (mul $image.Width 240) $image.Height }}px" {{ end }}>